@model IEnumerable<string>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldin!!!</h1>
    <p>Daha fazlası <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.Message </p>
</div>
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>